# ssh cloning wont work because my public keys are not in the codespace
# keymanager osxkeychain is not present in unix
[user]
	email = camilogarcialarotta@github.com
	name = Camilo Garcia La Rotta
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
  editor = vim
	excludesfile = /Users/camilogarcialarotta/.gitignore
[github]
	user = CamiloGarciaLaRotta
[push]
	default = simple
[credential]
	helper = osxkeychain
[pager]
	branch = false
[color]
  ui = auto
[pull]
	rebase = false
[log]
	date = iso-local
[blame]
	date = iso-local
